In [1]:
import geonamescache
import re
from unidecode import unidecode
import pandas as pd
import numpy as np

gc = geonamescache.GeonamesCache()
countries = gc.get_countries()

In [4]:
EXCLUDE_CITIES=['Bay', 'New', 'San', 'Can', 'Hit', 'Spring', 'North', 'South', 'East', 'West', 'Spanish']

MIN_NAME_LENGTH=3

def add_city(city_keys, city_names, key, name):
    if len(name) < MIN_NAME_LENGTH:
        return
    
    city_keys[ name.lower() ] = key
    city_names.append(name)
        
def get_cities(udecode=True, verbose=False):
    cities = gc.get_cities()

    cities_regex=""
    city_keys={}
    city_names=[]
    for k in cities.keys():
        entry = cities[k]
        if udecode:
            name = unidecode( entry['name'] )
        if name in EXCLUDE_CITIES:
            #print("Excluding: " + name)
            continue
        
        if verbose: print(name)

        if name == 'Spanish':  print(entry)
        if name == 'Richland':
            add_city(city_keys, city_names, k, name + ' Center')
            #print(entry)
        add_city(city_keys, city_names, k, name)
       
        cityindex=name.lower().rfind(' city')
        if cityindex != -1:
            name = name[:cityindex]
        else:
            if cityindex == -1:            
                cityindex=name.lower().rfind(' town')

        if cityindex != -1:
            name = name[:cityindex]
            if not name in EXCLUDE_CITIES:
                #if name == 'Spanish': print(f'MATHED SPANISH ON <{cities[k]}>')
                #if name == 'Spanish': print(k)
                add_city(city_keys, city_names, k, name)
                if verbose: print("ADDDING town/city: " + name)
            
    #city_names.sort() # sorts normally by alphabetical order
    city_names.sort(key=len, reverse=True) # sorts by descending length

    cities_regex ="|".join(city_names)
    
    cities_regex = r'\b(' + cities_regex + r')\b'
    compiled_re = re.compile(cities_regex)
    icase_compiled_re = re.compile(cities_regex, re.IGNORECASE)
        
    return (cities, city_keys, cities_regex, compiled_re, icase_compiled_re) 
        
(cities, city_keys, cities_regex, compiled_cities_re, icase_compiled_cities_re) = get_cities(udecode=True, verbose=False)

In [6]:
def get_city_country(line, match):
    start = match.start()
    end   = match.end()
    city=line[start:end]
    #print("'" + city + "'")
    city_key=city_keys[city.lower()]
    country=cities[city_key]['countrycode']
    #print(f'{city} => {city_key} => {country} [{cities[city_key]}]')
    if country == 'US': country=np.NaN
    
    return (city, country, start, end)

def get_US_states():
    US_states = list(map(str.lower, list(gc.get_us_states_by_names().keys())))
    US_states_regex = r'\b(' + "|".join(US_states) + r')\b'
    US_states_compiled_re = re.compile(US_states_regex, re.IGNORECASE)
    return (US_states, US_states_regex, US_states_compiled_re)

#l = list(map(str.lower,["A","B","C"]))
#print(l)

(US_states, US_states_regex, US_states_compiled_re) = get_US_states()

In [7]:
def read_headlines(regex, iregex, state_iregex, ifile="data/headlines.txt"):
    file = open(ifile, 'r')

    data = []
    for line in file.readlines():
    #for line in [ "Zika Outbreak Hits Miami"]:
        line=unidecode(line)
        line=line.rstrip()
        #print(line)
        
        match = regex.search(line)
        if match == None:
            # Handle special cases: case mismatch, 'XXX city' or 'XXX town'
            #print("Doing ignorecase match on <" + line + ">")
            # FAILS: match = regex.search(line, re.IGNORECASE)
            match = iregex.search(line)
            
        if match == None:
            match = state_iregex.search(line)
            if match == None:
                print("No city match on line <" + line + ">")
            else:
                print("Matched state - but ignoring anyway on line <" + line + ">")
                match = None
        
        if match != None:
            (city, country, s1, e1) = get_city_country(line, match)
            #print(line + ", " + city + ", " + country)
            #data.append( [line, city, country] )
            data.append( [line, country, city ] )
            match2 = regex.search(line[e1:])
            if match2 != None:
                s2 = e1 + match2.start()
                e2 = e1 + match2.end()
                (city2, country2, x, y) = get_city_country(line[e1:], match2)
                #if city2 != 'Bay' and city2 != city:
                if not city2.lower() in US_states and city2 != city:
                    print("====> Two cities seen in <" + line + ">")
                    print("1st<" + str(s1) + ":" + str(e1) + ">:" + city + ", " + country)
                    print("2nd<" + str(s2) + ":" + str(e2) + ">:" + city2 + ", " + country2)
                    #data.append( [line, city2, country2] )
                    data.append( [line, country2, city2 ] )
                    #break
            pass

    file.close()
    
    df = pd.DataFrame(columns=['headline','city','country'], data=data)
    df = pd.DataFrame(columns=['headline','countries','cities'], data=data)
    df.replace('US',np.NaN)
    
    return df

df = read_headlines(regex=compiled_cities_re, iregex=icase_compiled_cities_re, state_iregex=US_states_compiled_re, ifile="data/headlines.txt")

Matched state - but ignoring anyway on line <Louisiana Zika cases up to 26>
No city match on line <Spanish Flu Sighted in Antigua>
No city match on line <Zika case reported in Oton>
No city match on line <Hillsborough uses innovative trap against Zika 20 minutes ago>
No city match on line <Maka City Experiences Influenza Outbreak>
No city match on line <West Nile Virus Outbreak in Saint Johns>
No city match on line <Malaria Exposure in Sussex>
No city match on line <Greenwich Establishes Zika Task Force>
No city match on line <Will West Nile Virus vaccine help Parsons?>
No city match on line <Yulee takes a hit from Spreading Sickness>
No city match on line <The Spread of Chikungunya in Davidson has been Confirmed>
No city match on line <Zika case reported in Los Fresnos>
No city match on line <More people in Boucau are infected with HIV every year>
No city match on line <Bronchitis Outbreak in Manhasset>
No city match on line <Rumors about Influenza Spreading in Dobbs Ferry have been Refuted>
No city match on line <Outbreak of Zika in Destin>
No city match on line <More people in Huron are infected with Dengue every year>
No city match on line <Will Tuberculosis vaccine help Cherry Creek?>
No city match on line <Gympie Patient in Critical Condition after Contracting Chlamydia>
No city match on line <Spike of Meningitis Cases in Druid Hills>
No city match on line <Martinsville tests new cure for Measles>
No city match on line <More Patients in Magnolia are Getting Diagnosed with Malaria>
No city match on line <Rumors about Syphilis spreading in Penal have been refuted>
No city match on line <Fort Belvoir tests new cure for Hepatitis C>
No city match on line <More people in Oak Brook are infected with Respiratory Syncytial Virus every year>
No city match on line <Outbreak of Zika in Hutchins>
No city match on line <Longwood volunteers spreading Zika awareness>
No city match on line <Zika symptoms spotted in Quixere>
No city match on line <Measles Hits Davos>
No city match on line <Spike of Hepatitis E Cases in Morehead City>
No city match on line <Outbreak of Zika in Alvorada>
No city match on line <Schools in Coamo Closed Due to Rhinovirus Outbreak>
No city match on line <Zika arrives in Dangriga>
No city match on line <More Patients in Maynard are Getting Diagnosed with Syphilis>
No city match on line <Zika case reported in Antioquia>
No city match on line <Chikungunya has not Left Pismo Beach>
No city match on line <Zika spreads to La Joya>

In [8]:
df

,headline,countries,cities
0,Zika Outbreak Hits Miami,NaN,Miami
1,Could Zika Reach New York City?,NaN,New York City
2,First Case of Zika in Miami Beach,NaN,Miami Beach
3,"Mystery Virus Spreads in Recife, Brazil",BR,Recife
4,Dallas man comes down with case of Zika,NaN,Dallas
5,Trinidad confirms first Zika case,UY,Trinidad
6,Zika Concerns are Spreading in Houston,NaN,Houston
7,Geneve Scientists Battle to Find Cure,CH,Geneve
8,The CDC in Atlanta is Growing Worried,NaN,Atlanta
9,Zika Infested Monkeys in Sao Paulo,BR,Sao Paulo
10,Brownsville teen contracts Zika virus,NaN,Brownsville
11,Mosquito control efforts in St. Louis take new...,NaN,St. Louis
12,San Juan reports 1st U.S. Zika-related death a...,NaN,San Juan
13,"Flu outbreak in Galveston, Texas",NaN,Galveston
14,Zika alert - Manila now threatened,PH,Manila
15,Zika afflicts 7 in Iloilo City,PH,Iloilo
16,New Los Angeles Hairstyle goes Viral,NaN,Los Angeles
17,Orlando volunteers aid Zika research,NaN,Orlando
18,Zika infects pregnant woman in Cebu,PH,Cebu
19,Chicago's First Zika Case Confirmed,NaN,Chicago
20,Tampa Bay Area Zika Case Count Climbs,NaN,Tampa
21,"Bad Water Leads to Sickness in Flint, Michigan",NaN,Flint
22,Baltimore plans for Zika virus,NaN,Baltimore
23,London Health Unit Tracks Mad Cow Disease,GB,London
24,Zika cases in Vietnam's Ho Chi Minh City surge,VN,Ho Chi Minh City
25,Philadelphia experts track pandemic,NaN,Philadelphia
26,Flu season hits Boston,NaN,Boston
27,Scientists in Paris to look for answers,NaN,Paris
28,Key Zika Findings in San Diego Institute,NaN,San Diego
29,Thailand-Zika Virus in Bangkok,TH,Bangkok
...,...,...,...
583,Mad Cow Disease Detected in Lyon,FR,Lyon
584,Memphis Encounters Severe Symptoms of Swine Flu,NaN,Memphis
585,Zika Troubles come to Delray Beach,NaN,Delray Beach
586,How to Avoid Chikungunya in Hampton,NaN,Hampton
587,Zika Reported in Sao Jose,BR,Sao Jose
588,Case of Norovirus Reported in Stratford,NaN,Stratford
589,How to Avoid Hepatitis E in South Bend,NaN,South Bend
590,Hepatitis C Outbreak in Bethlehem,ZA,Bethlehem
591,Davenport is infested with Dengue,NaN,Davenport
592,Rumors about Swine Flu spreading in Suzhou hav...,CN,Suzhou
593,Malaria Vaccine is now Required in Elyria,NaN,Elyria
594,Case of Swine Flu Reported in Tbilisi,GE,Tbilisi
595,Influenza Keeps Spreading in Suffolk,NaN,Suffolk
596,More people in Allentown are infected with Chl...,NaN,Allentown
597,Mad Cow Disease re-emerges in Bedford,NaN,Bedford
598,Authorities are Worried about the Spread of He...,CN,Yiwu
599,Zika Outbreak in Yurimaguas,PE,Yurimaguas
600,Dengue Outbreak in Easton,NaN,Easton
601,Varicella has Arrived in Milton,NaN,Milton
602,New medicine wipes out Meningitis in Sevilla,ES,Sevilla
603,Authorities are Worried about the Spread of Va...,NaN,Clovis
604,More Zika patients reported in Fort Worth,NaN,Fort Worth
605,Zika symptoms spotted in Boynton Beach,NaN,Boynton Beach
606,Outbreak of Zika in Portoviejo,EC,Portoviejo
607,Influenza Exposure in Muscat,OM,Muscat
608,Rumors about Rabies spreading in Jerusalem hav...,IL,Jerusalem
609,More Zika patients reported in Indang,PH,Indang
610,Suva authorities confirmed the spread of Rotav...,FJ,Suva
611,More Zika patients reported in Bella Vista,NaN,Bella Vista
612,Zika Outbreak in Wichita Falls,NaN,Wichita Falls